---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)


@import
"bootstrap/bootstrap",
"syntax-highlighting",
"typeahead";


$navbar-brand-height: 60px;
$navbar-margin-bottom: 10px;
$navbar-padding-vertical: 10px;
$footer-height: 45px;
$pagecontent-top-margin: 30px;

html {
    position: relative;
    min-height: 100%;
}

body {
    display : flex;
    flex-direction: column;
}

ul {
    margin: 0px;
    padding: 0px;
}

// Images have to be styed manually
.navbar-brand{
    img{
        margin: -$navbar-padding-vertical 0;
        height: $navbar-brand-height;
        padding: 10px 0;
    }
}


.header-container {
    background-color: black;
    background: url('../img/bg.jpg') no-repeat 50% 0;
    color: #fff;

    h1 {
        color: #fff;
    }
    // background-attachment: fixed;
    background-size: cover;
    background-position: center 36%;
    margin-top: -37px;
}

.navbar-container {
    font-size: 16px;
}

.fav-nav {
    flex-direction: row;
}

.page-content {
    margin-bottom: $footer-height;
    margin-top: $pagecontent-top-margin;
    img {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    img~em {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 0.75em;
    }
    .col-md-9 {
        #page-title {
            font-size: 2em;
        }
        h1 {
            font-size: 1.75em;
        }
        h2 {
            font-size: 1.5em;
        }
        h3 {
            font-size: 1.25em;
        }
        h4 {
            font-size: 1em;
        }
        h5 {
            font-size: .75em;
        }
        h6 {
            font-size: .5em;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    padding-top: 10px;
    background-color: $gray-300;
    color: $gray-500;
}

footer.footer p {
    margin-bottom: 0rem;
}

.post-list-container {
    li a.active {
        font-weight: bold;
    }
}
//*[id]:before {
//  display: block;
//  content: " ";
//  margin-top: -75px;
//  height: 75px;
//  visibility: hidden;
//}
.navbar-form .has-feedback .form-control-feedback{
    top:10px
}


// Boostrap Custom Styling

// Docs navigation styling
.list-group-item.active{
    background-color: #99ccff !important;
}

#docs-nav .list-group-item {
    padding: 0.25rem 0.25rem;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0 !important;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px !important;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px !important;
}

button.list-group-item {
    text-align: left;
    margin-bottom: 0px;
}

button.list-group-item:focus {
    outline: none;
}

#docs-nav * {
    font-size: 14px;
}

a.cur-doc {
    font-weight: bold;
}

ul.nav li {
    margin: 5px;
    font-size: 20px;
}


// Styling project page
.project-deck {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
}

.project-deck .card {
    min-width: 350px;
    margin: 10px;
    min-height: 300px;
}


// overflow of text in project cards
$font-size: 16px;
$line-height: 1.2;
$lines-to-show: 5;

table.metadata {
    width : auto;
}

ul.paper-meta {
    list-style: none;
}

.project-deck .card {
    width: 18rem;
    img {
        width: 18rem;
        margin-bottom: 1rem;
    }
    .card-body {
        display: flex;
       flex-direction: column;
    }
    .card-link {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .card-text {
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 400px;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

}


    

// Styling of searched project
.searched-proj {
    background-color: beige;
}


// Search box styling
.tt-suggestion span.badge {
    float : right;
}

.form-control {
    min-width: 320px !important;
}

.tt-dataset {
    min-width: 320px !important;
}


.tt-menu {
    max-height: 200px;
    overflow-y: auto;
}

.tt-menu * {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 350px;
}


// Recent posts styling
li.all-posts-link {
    margin-top: 5px;
    margin-bottom: 5px;
}

ul.post-list-container {
    margin-bottom: 20px;
}

span.fright {
    float: right;
}

.small-sidebar {
    font-size: small;
}

.badge.small-sidebar {
    font-size: x-small;
}

.paper-sidebar-list {
    margin-bottom: 0.7em;
    line-height: 1.2;
}

//post nav
.post-nav-button {
    width: 110px;
    margin-bottom: 1rem;
}

#post-nav span {
    margin-right: 3px;
    margin-left: 3px;
}


// Css rules for the about me page

.cvpicture {
    border-radius: 50%;
    height: 10em;
}

// Rules for front page citation

.front_cite {
    padding-top: 3em;
    margin-bottom: 0;
}

.front_cite_auth {
    text-align : right;
    font-weight: lighter;
}


// Center everything
.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

blockquote {
    background: #EEEEEE;
    padding: 5px 10px 0px 10px;
    font-style: italic;
}

blockquote::before {
    content: "Quote:"
}

.col-md-9 ul {
    list-style-position: inside;
    margin-bottom: 1em;
}
