---
title: About Me
layout: default
sectionid: aboutme
---

<div class="container">
  <div class="row">

    <!--Image-->
    <div class="col-md-3">
      <div class="center"><img class="cvpicture img-responsive" src="img/profile_crop.png"></div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item border-0 py-1"><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o"></i><span class="center"> E-Mail</span></a></li>
        <li class="list-group-item border-0 py-1"><a href="{{ site.git_address }}"><i class="fa fa-gitlab"></i><span class="center"> GitLab</span></a></li>
        <li class="list-group-item border-0 py-1"><a href="{{ site.linkedin_address }}"><i class="fa fa-linkedin"></i><span class="center"> LinkedIn</span></a></li>
      </ul>
    </div>

    <!--Content-->
    <div class="col-md-9">
      <h4>About Me:</h4>
      <p>After finishing my bachelors degree I started my masters studies and learned about AI and Machine Learning. That was the hook that got me to start to study this topic.
        Now I am going to get my doctorate. My masters thesis was about comparison of different neural networks for medical image segmentation.
        During my doctorate I will develop an application for automatic left ventricle segmentation.</p>
      <p>During this time I am working at the "University of Applied Sciences Wedel". I hold a lecture about theoretical computer science, organize the database exercise and help in different other exercises.</p>
      <h5>Educational Background:</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item border-0">2017 : Bachelors Degree at "University of Applied Sciences Wedel"</li>
        <li class="list-group-item border-0">2019 : Masters Degree with honour at "University of Applied Sciences Wedel"</li>
      </ul>
    </div>
  </div>
</div>
