---
title: Blog
layout: default
sectionid: papers
---


<div class="container">
  <div class="inner-content">
    <h1>All Papers</h1> {% for page in site.posts %}
    {% if page.show %}
    <p>
      <table class="table table-borderless table-sm">
        <tr>
      <td style="width: 40%"><h6><a href="{{ page.url | prepend: site.baseurl }}">
          <span class="fa fa-{% if page.format == 'video' %}film{% endif %}{% if page.format == 'article' %}newspaper-o{% endif %}{% if page.format == 'book' %}book{% endif %}{% if page.format == 'code' %}code{% endif %}{% if page.format == 'paper' %}file-text-o{% endif %}"></span>
          {{ page.title }}</a></h6></td>
      <td style="width: 5%"><h6><span class="badge badge-primary">{{ page.topic }}</span></h6></td>
      <td style="width: 25%">{% for tag in page.tags %}
      <span class="badge badge-pill badge-info">{{ tag }}</span>
      {% endfor %}</td>
      <td style="width: 15%"><span> {{ page.date | date: "%B %e, %Y" }} </span></td>
      
      <td style="width: 5%">{% assign idx = forloop.index %}
      <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#collapse-{{idx}}" role="button" aria-expanded="false" aria-controls="collapse-{{idx}}">
        Excerpt
      </a></td>
        </tr>
      </table>
      <div class="collapse" id="collapse-{{idx}}">
        <div class="card card-body">
          {% assign preprocessed_content=page.content | replace: '<ol>', '__ol__' %}
          {% assign preprocessed_content=preprocessed_content | replace: '</ol>', '__/ol__' %}
          
          {% assign preprocessed_content=preprocessed_content | replace: '<li>', '__li__' %}
          {% assign preprocessed_content=preprocessed_content | replace: '</li>', '__/li__' %}

          {% assign truncated_content=preprocessed_content | strip_html | truncatewords:100 %}

          {% assign cleaned_content=truncated_content | replace: '__li__', '<li>' %}
          {% assign cleaned_content=cleaned_content | replace: '__/li__', '</li>' %}
          {% assign cleaned_content=cleaned_content | replace: '__ol__', '<ol>' %}
          {% assign cleaned_content=cleaned_content | replace: '__/ol__', '</ol>' %}

          {{ cleaned_content }}
        </div>
      </div>
      
    </p>
    {% endif %}
    {% endfor %}
  </div>
</div>
