---
layout: default
sectionid: home
---
<!-- Header -->
<div class="header-container jumbotron">
    <div class="container">
        <h1>Artificial Intelligence Knowledge Site</h1>
        <p>Homepage with aquired knowledge about artificial intelligence, machine learning and deep learning. A compilation of papers with short annotations. Projectes done within the subjects and others. Docs with explanations of the most importent subjects.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ "/docs/home/" | prepend: site.baseurl }}" role="button">The Docs</a></p>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h2 class="header-light regular-pad">Why this site?</h2>
            
              <p>The field of AI developed in recent years drastically. Keeping track of important issues and new development is very important during research in this field. This site should help
                mainly myself to organize, research papers and create a small database of knowledge that I developed during my studies. Additionally this site can be used for everyone interested in this
              topic.</p>
            
          
            
              <p class="front_cite"><cite>"I believe that at the end of the century the use of words and general educated opinion will have altered so much that one will be able to speak of machines thinking without expecting to be contradicted."</cite></p> <div class="front_cite_auth">Alan Turing</div>
            
        </div>
        <div class="col-md-6 text-center">
            <img src="img/front-logo.png" alt="" class="img-responsive" style="max-height: 24em;">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-code-fork" aria-hidden="true"></i></h1>
            <h3 class="text-center">My Personal Projects</h3>
            <p>A collection of some of my projects over the years. These projects are mainly in the field of AI but include others. Most of them can be found on my <a href="{{site.git_address}}">GitLab Page</a>. Here you can find a small overview: <a href="{{ "/projects" | prepend: site.baseurl }}">Projects</a>
            </p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></h1>
            <h3 class="text-center">Docs</h3>
            <p>For some topics a short overview is very useful. In the <a href="{{ "/docs/home/" | prepend: site.baseurl }}">Docs</a> documentations of different topics and techniques are displayed. This can be used for a quick reminder or to learn new knowledge.</p>
        </div>
        <div class="col-sm-4">
            <h1 class="text-center"><i class="fa fa-pencil" aria-hidden="true"></i></h1>
            <h3 class="text-center">Researche Papers</h3>
            <p>Collection of papers for later possible citation and storing possibly important ones for the future. This <a href="{{ site.posts.first.url | prepend: site.baseurl }}">section</a> stores read papers with short annotations and a list of papers and articles for future reading.</p>
        </div>
    </div>


</div>
