---
title: Blog
layout: default
sectionid: papers
---


<div class="container">
  <div class="inner-content">
    <h1>My reading list <a class="btn btn-link btn-sm" onclick="displayUrls()"><i class="fa fa-link" aria-hidden="true"></i>
</a></h1>
    {% for page in site.readinglists %}
      {% if page.show %}
        <p>
      <table class="table table-borderless table-sm">
        <tr>
      <td style="width: 40%"><h6><a href="{{ page.source }}">
          <span class="fa fa-{% if page.format == 'video' %}film{% endif %}{% if page.format == 'article' %}newspaper-o{% endif %}{% if page.format == 'book' %}book{% endif %}{% if page.format == 'code' %}code{% endif %}{% if page.format == 'paper' %}file-text-o{% endif %}"></span>
          {{ page.title }}</a></h6></td>
      <td style="width: 5%"><h6><span class="badge badge-primary">{{ page.topic }}</span></h6></td>
      <td style="width: 25%">
        {% for tag in page.tags %}
      <span class="badge badge-pill badge-info">{{ tag }}</span>
      {% endfor %}</td>
      <td style="width: 15%"><span> {{ page.date | date: "%B %e, %Y" }} </span></td>
      
      <td style="width: 5%">
        {% assign idx = forloop.index %}
        {% assign excerpt = page.content | strip_html | truncatewords: 100 %}
        {% assign size = excerpt.size %}
      <a class="btn btn-secondary btn-sm {% if size == 1 %} disabled {% endif %}" data-toggle="collapse" href="#collapse-{{idx}}" role="button" aria-expanded="false" aria-controls="collapse-{{idx}}" {% if size == 1 %} aria-disabled="true" {% endif %}>
        First thoughts
      </a></td>
        </tr>
      </table>
      <div class="collapse" id="collapse-{{idx}}">
        <div class="card card-body">          
          <span>{{ excerpt }}</span>
        </div>
      </div>
      
    </p>
        {% endif %}
        {% endfor %}
    </div>
</div>

<div id="hiddenLinks" hidden>
  {% for page in site.readinglists %}
  {% if page.show %}
  {{ page.source }}
  {% endif %}
  {% endfor %}
</div>

<script>
  function displayUrls() {
      var links = document.getElementById("hiddenLinks").innerHTML
      alert(links.replace(/^\s*\n/gm, "").replaceAll("  ", ""));
  }
</script>
