---
layout: default
title: Projects
show: False
permalink: project.html
---

<div class="container">
  <h3>My Projects:</h3>
  <div class="row">
    <div class="project-deck">
      {% for project in site.projects %}
      {% if project.show %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{project.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{project.subtitle}}</h6>
          <img src="{{project.img}}/{{project.img_folder}}/{{project.image}}" alt=""/>
          <p class="card-text">{{project.description}}</p>
          <a href="{{project.proj_link}}" class="card-link">Project link</a>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

