<div><b>Content:</b></div>
<div class="border-0 list-group list-group-root" id="docs-nav">
  {% if site.data.docs %}
  {% for section in site.data.docs %}
  {% assign outer_index = forloop.index %}
  <button class="border-0 list-group-item collapsed" data-toggle="collapse"  data-target="#doc-{{outer_index}}" aria-expanded="true" aria-controls="doc-{{outer_index}}">
    <span class="fa fa-chevron-right"></span>
    {{ section.title }}
  </button>
  <div class="border-0 list-group collapse" id="doc-{{outer_index}}">
    {% if section.docs %}
    {% for item in section.docs %}
    {% if item.subdocs %}
    <button class="border-0 list-group-item collapsed" data-toggle="collapse" data-target="#item-{{outer_index}}-{{forloop.index}}" aria-expanded="true" aria-controls="item-{{outer_index}}-{{forloop.index}}">
      <span class="fa fa-chevron-right"></span>
      {{ item.name }}
    </button>
    <div class="border-0 list-group collapse" id="item-{{outer_index}}-{{forloop.index}}">
      {% for subsec in item.subdocs %}
      {% assign item_url = subsec | prepend:"/docs/" | append:"/" %}
      {% assign p = site.docs | where:"url", item_url | first %}
      <a class="border-0 list-group-item list-group-item-action {% if item_url == page.url %}cur-doc{% endif %}" href="{{ p.url  | prepend: site.baseurl }}">{{ p.title }}</a>
    </div>
    {% endfor %}
    {% else %}
    {% assign item_url = item | prepend:"/docs/" | append:"/" %}
    {% assign p = site.docs | where:"url", item_url | first %}
    <a class="border-0 list-group-item list-group-item-action {% if item_url == page.url %}cur-doc{% endif %}" href="{{ p.url  | prepend: site.baseurl }}">{{ p.title }}</a>
    {% endif %}
    {% endfor %}
    {% endif %}
  </div>
  {% endfor %}
  {% endif %}
</div>

