<script>
  var baseurl = '{{ site.baseurl }}'
</script>

<!-- <script src="//code.jquery.com/jquery-1.10.2.min.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }} "></script>
<script type="text/javascript" src="{{ "/js/typeahead.bundle.min.js" | prepend: site.baseurl }} "></script>

<script type="text/javascript" src="{{ "/js/main.js" | prepend: site.baseurl }} "></script>
