{% comment %}
Map grabs the doc sections, giving us an array of arrays. Join, flattens all
the items to a comma delimited string. Split turns it into an array again.
{% endcomment %}
{% assign docs = site.data.docs | map: 'docs' | join: ',' | split: ',' %}

{% comment %}
Because this is built for every page, lets find where we are in the ordered
document list by comparing url strings. Then if there's something previous or
next, lets build a link to it.
{% endcomment %}

{% for document in docs %}
{% assign document_url = document | prepend:"/docs/" | append:"/" %}
{% if document_url == page.url %}
<ul class="pager">
  {% if forloop.first %}
  <li class="previous disabled">
    <a>
      <span aria-hidden="true">&larr;</span> Previous
    </a>
  </li>
  {% else %}
  {% assign previous = forloop.index0 | minus: 1 %}
  {% assign previous_page = docs[previous] | prepend:"/docs/" | append:"/" %}
  <li class="previous">
    <a href="{{ previous_page | prepend: site.baseurl }}">
      <span aria-hidden="true">&larr;</span> Previous
    </a>
  </li>
  {% endif %}

  {% if forloop.last %}
  <li class="next disabled">
    <a>
      Next <span aria-hidden="true">&rarr;</span>
    </a>
  </li>
  {% else %}
  {% assign next = forloop.index0 | plus: 1 %}
  {% assign next_page = docs[next] | prepend:"/docs/" | append:"/" %}
  <li class="next">
    <a href="{{ next_page | prepend: site.baseurl }}">
      Next <span aria-hidden="true">&rarr;</span>
    </a>
  </li>
  {% endif %}
</div>
<div class="clear"></div>
{% break %}
{% endif %}
{% endfor %}
