<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container navbar-container">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <span><img src="{{site.baseurl}}/img/logonav.png"></span> {{ site.title }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div id="navbarNavDropdown" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if page.sectionid=='home' %} active {% endif %}"> <a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
        <li class="nav-item {% if page.sectionid=='projects' %} active {% endif %}"><a class="nav-link" href="{{ "/project" | prepend: site.baseurl }}">Projects</a></li>
        <li class="nav-item {% if page.sectionid=='docs' %} active {% endif %}"> <a class="nav-link" href="{{ "/docs/home/" | prepend: site.baseurl }}">Docs</a></li>
        <li class="nav-item {% if page.sectionid=='papers' %} active {% endif %}"><a class="nav-link" href="{{ site.posts.first.url | prepend: site.baseurl }}">Papers</a></li>
        <li class="nav-item {% if page.sectionid=='aboutme' %} active {% endif %}"><a class="nav-link" href="{{ "/about-me" | prepend: site.baseurl }}">About Me</a></li>
      </ul>
      <div class="navbar-right ">
        <form class="form-inline">
          <input class="form-control mr-sm-2" id="search-box" type="search" placeholder="Search" aria-label="Search">
          <ul class="nav navbar-nav fav-nav">
            <li><a href="{{ site.git_address }}"><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
            <li><a href="{{ site.linkedin_address }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</nav>
