---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-3">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-9">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
            <hr>
            <!--{% include section_nav.html %}-->
        </div>

    </div>
</div>
