---
layout: default
---

<div class="container">
  <div class="row">

    <!--Sidebar-->
    <div class="col-md-3">
      <div class="well">
        <h4>RECENTLY READ</h4>
        <ul class="list-unstyled post-list-container">
          {% for post in site.posts limit:10 %}
          {% if post.show %}
          <li class="paper-sidebar-list">
            <a href="{{ post.url | prepend: site.baseurl }}" {% if page.title==post.title %} class="active" {% endif %}>
              <span class="fa fa-{% if post.format == 'video' %}film{% endif %}{% if post.format == 'article' %}newspaper-o{% endif %}{% if post.format == 'book' %}book{% endif %}{% if post.format == 'code' %}code{% endif %}{% if post.format == 'paper' %}file-text-o{% endif %}"></span>
              <span class="badge badge-primary small-sidebar">{{ post.topic }}</span>
              <span class="post-sidebar-title small-sidebar">{{ post.title }}</span>
              
            </a>
          </li>
          {% endif %}
          {% endfor %}
          <li class="all-posts-link"><a href="{{ "/allposts" | prepend: site.baseurl }}">All papers ...</a></li>
        </ul>
      </div>
      <div class="well">
        <h4>UPCOMING READING</h4>
        <ul class="list-unstyled post-list-container">
          {% for post in site.readinglists limit:10 %}
          {% if post.show %}
          <li class="paper-sidebar-list">
            <a href="{{ post.source }}">
              <span class="fa fa-{% if post.format == 'video' %}film{% endif %}{% if post.format == 'article' %}newspaper-o{% endif %}{% if post.format == 'book' %}book{% endif %}{% if post.format == 'code' %}code{% endif %}{% if post.format == 'paper' %}file-text-o{% endif %}"></span>
              <span class="badge badge-primary small-sidebar">{{ post.topic }}</span>
              <span class="post-sidebar-title small-sidebar">{{ post.title }}</span>
            </a>
          </li>
          {% endif %}
          {% endfor %}
          <li class="all-posts-link"><a href="{{ "/readinglist" | prepend: site.baseurl }}">Reading list</a></li>
        </ul>
      </div>
    </div>

    <!--This is the real content of the markdown file-->
    <div class="col-md-9">
      <h1 id="page-title">{{ page.title }}</h1>
      <p>
        {{ page.date | date: "%b %-d, %Y" }}
        <span class="badge badge-primary">{{ page.topic }}</span>
        {% for tag in page.tags %}
        <span class="badge badge-pill badge-info">{{ tag }}</span>
        {% endfor %}
      </p>
      <div  id="markdown-content-container">{{ content }}</div>

      <h3>Metadata:</h3>
      <table class="table table-borderless table-sm metadata">
        <tbody>
          {% if page.author %}
          <tr>
            <td>Author:</td>
            <td>{{page.author}}</td>
          </tr>
          {% endif %}
          {% if page.released %}
          <tr>
            <td>Released:</td>
            <td>{{page.released | date: "%b %-d, %Y"}}</td>
          </tr>
          {% endif %}
          {% if page.source %}
          <tr>
            <td>Source:</td>
            <td><a href="{{ page.source }}">Link</a></td>
          </tr>
          {% endif %}
        </tbody>
      </table>

      
      <hr>
      <!-- Page Navidation -->
      <div id="post-nav" class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="Second group">
          {% if page.next.show %}
          <a class="btn btn-outline-primary post-nav-button" href="{{ page.next.url | prepend: site.baseurl }}">
            <span class="fa fa-arrow-left"></span>Previous
          </a>
          {% else %}
          <button type="button" class="btn btn-outline-primary post-nav-button" disabled>
            <span class="fa fa-arrow-left"></span>Previous
          </button>
          {% endif %}
        </div>
        <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
          {% if page.previous.show %}
          <a  class="btn btn-outline-primary post-nav-button" href="{{ page.previous.url | prepend: site.baseurl }}">
            Next<span class="fa fa-arrow-right"></span>
          </a>
          {% else %}
          <button type="button" class="btn btn-outline-primary post-nav-button" disabled>
            Next<span class="fa fa-arrow-right"></span>
          </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
